################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/genevill.github.io/config
/.vs/genevill.github.io/FileContentIndex
/.vs/genevill.github.io/v17
/.vs
